<%include _header%>
<div id="main-card">
        <div id="main-img">
        <h1 name="name"><%= card.name_card%></h1>
            <img class="img-sec" data-src="/images/<%= card._id%>.<%=card.extension%>" uk-img/>
        </div>
        
        <div id="main-data">
            <%if(card.description) {%>
                <h2> Description </h2>
                <p><%=card.description%></p>
            <%} %>
            <%if (card.whatTCG){%>
                <h2> Trading Card game </h2>
                <p><%= card.whatTCG%></p>
            <%}%>
        </div>

        <div>
            <% if(card.comm) {%>
                <div class="uk-margin">
                        <h2> Comment </h2>
                        <%= card.comm ||""%>
                </div>
            <%}%>
        </div>
</div>

<%if (currentUser.role=='Admin') {%>
<form class ="form-card" action="/card/:name_card" method="delete">
    <div class="uk-margin">
        <button class="uk-button uk-button-default" type="submit">Delete Card</button>
    </div>
</form>

<%}%>

<%include _footer%>