<%include _header%>
<div class="main-card">
    <h1><%= card.name_card%></h1>

    <img class="img-sec" data-src="/public/images/<%= currentcard._id%>.<%=currentcard.extension%>" uk-img>

    <%if(card.description) {%>
        <p><%=card.description%></p>
    <%} %>
    <%if (card.whatTCG){%>
        <p><%= card.whatTCG%></p>
    <%}%>
</div>

<% if(card.comm) {%>
<div class="uk-margin">
        <%= card.comm ||""%>
</div>
<%}%>

<form action="/card" method="post">
    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">which your opinion about this card?</label>
        <textarea class="uk-textarea"name="comm" rows="5" placeholder="comment">
        </textarea>
    </div>
    <button class="uk-button uk-button-default" type="submit">send</button>
</form>
<%if (currentUser.role=='Admin') {%>
    <button class="uk-button uk-button-default" type="submit" Href="/edit_card">Edit Card</button>
<%}%>

<%include _footer%>